.hidden {
  display: none;
}
body,
html {
  text-align: center;
  overflow: hidden;
  height: 100%;
  margin: 0;
  color: white;
}
body {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#clock,
#greeting {
  font-size: 6vh;
}

#quote {
  
}
